In [2]:
import pandas as pd

In [7]:
filenamepd.read_csv("new/mov_19.csv")

,Unnamed: 0,name,date,sales,sales_share,boxoffice_num,screen,rep_nation,nation,distributor,...,actor7,actor8,actor9,actor10,actor11,actor12,actor13,actor14,actor15,actor16
0,0,신과함께-인과 연,2018.8.1,"102,666,146,909",5.7%,"12,274,996","2,235",한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,어벤져스: 인피니티워,2018.4.25,"99,919,006,769",5.5%,"11,211,880","2,553",미국,미국,월트디즈니컴퍼니코리아 유한책임회사,...,폴 러드,돈 치들,브리 라슨,카렌 길런,브래들리 쿠퍼,조슈 브롤린,NaN,NaN,NaN,NaN
2,2,보헤미안 랩소디,2018.10.31,"80,010,440,345",4.4%,"9,224,582",936,미국,미국,"월트디즈니컴퍼니코리아 유한책임회사,이십세기폭스코리아(주)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,미션 임파서블: 폴아웃,2018.7.25,"55,888,375,112",3.1%,"6,584,915","1,957",미국,미국,롯데컬처웍스(주)롯데엔터테인먼트,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,신과함께-죄와 벌,2017.12.20,"47,348,157,705",2.6%,"5,871,259","1,912",한국,한국,롯데쇼핑㈜롯데엔터테인먼트,...,장혜진,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,쥬라기 월드: 폴른 킹덤,2018.6.6,"49,770,711,037",2.8%,"5,661,128","1,972",미국,미국,유니버설픽쳐스인터내셔널 코리아(유),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,앤트맨과 와스프,2018.7.4,"47,465,443,185",2.6%,"5,447,826","1,775",미국,미국,월트디즈니컴퍼니코리아 유한책임회사,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,안시성,2018.9.19,"46,335,334,026",2.6%,"5,440,186","1,540",한국,한국,(주)넥스트엔터테인먼트월드(NEW),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,블랙 팬서,2018.2.14,"45,883,143,457",2.5%,"5,398,994","1,620",미국,미국,월트디즈니컴퍼니코리아 유한책임회사,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,완벽한 타인,2018.10.31,"44,350,807,074",2.5%,"5,293,435","1,313",한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN